extends layout

block content
  body
  form(action='/new', method='POST')
    p
      | User:
      input(type='text', name='user', value='')
      |          message: 
      input(type='text', name='messageText', value='')
    input(type='submit', value='Submit')